body {
  font-family: Arial, sans-serif;
  background-color: white;
  color: black;
  margin: 0;
  padding: 0;
}
header {
  background-color: red;
  color: white;
  padding: 20px;
  text-align: center;
}
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 10px 0;
  text-align: center;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  border-bottom: 2px solid transparent;
}

nav ul li a:hover {
  border-bottom: 2px solid white;
}
main {
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: white;
}

table, th, td {
  border: 1px solid red;
}

th {
  background-color: red;
  color: white;
  padding: 10px;
}

td {
  padding: 10px;
}

ul, ol {
  margin-left: 40px;
  margin-bottom: 231px;
  height: 70px;
}

ul li, ol li {
  margin: 8px 0;
}

a {
  color: black;
  font-size: 20px;
  margin-left: 20px;
}

a:hover {
  color: black;
  text-decoration: underline;
}

aside {
  border: 2px solid red;
  border-radius: 4px;
  margin-top: 10px;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 30px;
  height: 100px;
}

footer img {
  margin: 0 5px;
}

img {
  float: right;
  margin-left: 20px; 
  margin-bottom: 30px;
  border: 2px solid red;
  border-radius: 4px;
}
h6 {
  font-size: 30px;
  margin-left: 20px 
}